table {
    font-size: 13px;
}

table .total-price {
    font-size: 15px;
}

@media (max-width: 768px) {
    table {
        font-size: 11px !important;
    }

    table .total-price {
        font-size: 13px;
    }
}