{% load static %}

<div class="overlay"></div>
<header class="header-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3">
        <div class="brand">
          <a href="{% url "core:index_view" %}" class="logo">
            <img src="{% static "img/salary-calc-icon.png" %}"
            alt="salary-calc-logo" />
          </a>
        </div>
      </div>
      <div class="col-9 d-flex align-items-center justify-content-flex-end">
        <div class="open-nav-menu">
          <span></span>
        </div>
        <div class="main-menu">
          <nav>
            <div class="close-nav-btn"></div>
            <ul>
              <li class="menu-item menu-has-child-item">
                <a href="#" data-toggle="sub-menu">Hesablama</a>
                <ul class="submenu">
                  <li class="menu-item">
                    <a href="{% url "core:index_view" %}" class="active">Maaş</a>
                  </li>
                  <li class="menu-item">
                    <a href="{% url "core:groos_to_nett_view" %}">Gross'dan Nett'ə</a>
                  </li>
                  <li class="menu-item">
                    <a href="nett-to-gross.html">Nett'dən Gross'a</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-has-child-item">
                <a href="#" data-toggle="sub-menu">Əlavə Məlumat</a>
                <ul class="submenu">
                  <li class="menu-item">
                    <a href="{% url "core:work_calendar_view" %}">İstehsalat Təqvimi</a>
                  </li>
                  <li class="menu-item">
                    <a href="faq.html">Tez-tez verilən suallar</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item"><a href="about.html">Haqqında</a></li>
              <li class="menu-item"><a href="contact.html">Əlaqə</a></li>

              {% if not request.user.is_authenticated %}
                <li class="menu-item">
                  <a class="btn btn-primary px-4 login-btn" href="{% url "account_login" %}"
                    >Giriş</a
                  >
                </li>
              {% else %}
                <li class="menu-item menu-has-child-item">
                  <a href="#" data-toggle="sub-menu">{{ request.user.username }}</a>
                  <ul class="submenu">
                    <li class="menu-item"><a href="{% url "profile_view" %}">Hesab</a></li>
                    <li class="menu-item"><a href="{% url 'account_logout' %}">Çıxış</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
