{% extends "identity/profile_base.html" %}
{% load static widget_tweaks %}


{% block page_title %}
<title>Şifrənin dəyişdirilməsi | SalaryCalc</title>
{% endblock page_title %}


{% block css %}
<link rel="stylesheet" href="{% static "css/account.css" %}" />
{% endblock css %}


{% block profile_info %}
<div class="col-12 col-md-9">
    <div class="profile-info">
      <div class="content-desc">
        <h2 class="title">Şifrəni Dəyiş</h2>
        <div class="row">
          <div class="col-12">
            <div class="login-box">
              <div class="forms d-flex justify-content-center">
                <div class="form login m-auto">
                  <!-- ===== Change Password Form ===== -->
                  <form method="post">
                    {% csrf_token %}
                    <div class="input-field">
                      {% comment %} <input
                        type="password"
                        class="password"
                        placeholder="Mövcud şifrə"
                        required
                      /> {% endcomment %}
                      {{ form.oldpassword|add_class:"password"|attr:"placeholder:Mövcud şifrə" }}
                      <i class="uil uil-padlock icon"></i>
                      <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    {{ form.oldpassword.errors }}
                    <div class="input-field">
                      {% comment %} <input
                        type="password"
                        class="password"
                        placeholder="Yeni şifrə"
                        required
                      /> {% endcomment %}
                      {{ form.password1|add_class:"password"|attr:"placeholder:Yeni şifrə" }}
                      <i class="uil uil-padlock icon"></i>
                      <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    {{ form.password1.errors }}
                    <div class="input-field">
                      {% comment %} <input
                        type="password"
                        class="password"
                        placeholder="Yeni şifrə (təkrar)"
                        required
                      /> {% endcomment %}
                      {{ form.password2|add_class:"password"|attr:"placeholder:Yeni şifrə (təkrar)" }}
                      <i class="uil uil-padlock icon"></i>
                      <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    {{ form.password2.errors }}

                    <div class="input-field button">
                      <input type="submit" value="Şifrəni dəyiş" />
                    </div>
                  </form>
                  <!-- ===== END Change Password Form ===== -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock profile_info %}


{% block js %}
<script src="{% static "js/eye-show-hide.js" %}"></script>
{% endblock js %}

