{% extends "core/base.html" %}
{% load static widget_tweaks %}

{% block page_title %}
<title>Şifrənin sıfırlanması | SalaryCalc</title>
{% endblock page_title %}


{% block css %}
<link rel="stylesheet" href="{% static "css/login-register.css" %}" />
{% endblock css %}


{% block header_page_title %}
<div class="page-title">
  <h1>Şifrənin Sıfırlanması</h1>
</div>
{% endblock header_page_title %}


{% block main %}
<main>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="login-box my-5">
        <div class="forms">
          <div class="form forgot">
            <span class="title">Şifrəni sıfırla</span>

            <p class="mt-3">
              Şifrənizi unutmusunuz? Aşağıya e-poçt ünvanınızı daxil edin və
              biz sizə onu sıfırlamağa imkan verən e-poçt göndərəcəyik.
              Şifrənizi sıfırlamaqla bağlı hər hansı probleminiz olarsa,
              <a href="contact.html" class="link-primary"
                >bizimlə əlaqə saxlayın</a
              >.
            </p>
            <!-- ===== Password Reset Form ===== -->
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class="input-field">
                    {{ form.email|attr:"placeholder:E-poçt" }}
                    <i class="uil uil-envelope icon"></i>
                </div>
                {{ form.email.errors }}

                <div class="input-field button">
                    <input type="submit" value="Şifrəni sıfırla" />
                </div>
            </form>
            <!-- ===== END Password Reset Form ===== -->

            <div class="login-signup">
              <span class="text"
                ><a href="{% url "account_login" %}" class="text login-link">Giriş</a>'ə
                qayıt!
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
{% endblock main %}
