{% extends "core/base.html" %}
{% load static widget_tweaks %}
{% load i18n %}
{% load allauth %}
{% block page_title %}
<title>Şifrənin sıfırlanması | SalaryCalc</title>
{% endblock page_title %}
{% block css %}
<link rel="stylesheet" href="{% static "css/password-reset.css" %}" />
{% endblock css %}
{% block main %}
<main>
    <div class="container text-center my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-3" style="min-height: 150px;">
                    <div class="card-body text-center d-flex flex-column align-items-center justify-content-center">
                        {% if token_fail %}
                            <i class="fas fa-exclamation-triangle text-danger fa-5x mb-3"></i>
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>
                                {% blocktrans %}Şifrə sıfırlama linki etibarsızdır, ola bilsin ki, artıq istifadə olunub. Lütfən, <a href="{{ passwd_reset_url }}" class="link-primary">yeni şifrə sıfırlamasını</a> tələb edin.{% endblocktrans %}
                            </p>
                        {% else %}
                            <div class="reset-password-card text-start">
                                <p>
                                    Şifrənizi sıfırlamaq üçün aşağıdakı formu doldurun. Yeni şifrənizlə hesabınıza yenidən daxil ola biləcəksiniz.
                                </p>
                                <form method="post" class="reset-password-form">
                                    {% csrf_token %}
                                    <div class="mb-3 input-field">
                                        {% comment %} <input type="password" class="form-control" placeholder="Yeni Şifrə"> {% endcomment %}
                                        {{ form.password1|add_class:"password"|attr:"placeholder:Yeni şifrə" }}
                                        <i class="uil uil-padlock icon"></i>
                                        <i class="uil uil-eye-slash showHidePw"></i>
                                    </div>
                                    {{ form.password1.errors }}
    
                                    <div class="mb-3 input-field">
                                        {% comment %} <input type="password" class="form-control" placeholder="Yeni Şifrə (təkrar)"> {% endcomment %}
                                        {{ form.password2|add_class:"password"|attr:"placeholder:Yeni şifrə (təkrar)" }}
                                        <i class="uil uil-padlock icon"></i>
                                        <i class="uil uil-eye-slash showHidePw"></i>
                                    </div>
                                    {{ form.password2.errors }}
    
                                    <button type="submit" class="btn btn-primary w-100">Şifrəni dəyiş</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main %}
{% block js %}
<script src="{% static "js/eye-show-hide.js" %}"></script>
{% endblock js %}
