{% extends "core/base.html" %}

{% block page_title %}
<title>Şifrənin sıfırlanması | SalaryCalc</title>
{% endblock page_title %}


{% block main %}
<main>
    <div class="container text-center my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-3" style="min-height: 150px; z-index: -1;">
                    <div class="card-body">
                        <i class="fas fa-envelope fa-5x mb-3 text-primary"></i>
                        <h2 class="card-title">Şifrənin Sıfırlanması</h2>
                        <p class="card-text">
                            Sizə e-poçt göndərdik. Əgər onu almamısınızsa, spam qovluğunuzu yoxlayın. Əks halda, bir neçə dəqiqə ərzində onu almasanız, <a href="#" class="link-primary">bizimlə əlaqə saxlayın</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock main %}
