@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body{
    font-family: Lato, sans-serif;
}
.active-title{
    background-color: rgb(213, 225, 221);
    opacity: 1 !important;
}

#profile{
    margin: 30px 0;
    min-height: 450px;
    
}

.profile-header
{
    padding: 20px 0;
    border-right: 1px solid  rgba(170, 176, 174, 0.342);
}

#profile h2{
    font-size: 25px;
    font-weight: 800;
    padding-left:20px ;
    color: #333;
}

/* .profile-header .content{
   
   
} */

.profile-header .content .content-title{
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 80%;
    cursor: pointer;
    font-weight: 600;
    color: #333;
    opacity: 0.5; 
    font-size: 15px;
}




.profile-info h2{
    border-bottom: 1px solid rgba(170, 176, 174, 0.342);
    margin-bottom: 20px;
    padding: 20px 0;
}


.profile-info text{
    padding-left: 20px;
    font-weight: 600;
   
}


@media(max-width:768px){
    .profile-header
{
   
    border-right: none;
   
}

}






.login-box {
    position: relative;
   
    width: 100%;
    background: transparent;
    border-radius: 10px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    /* margin: 0 20px; */
  }
  
  .login-box .forms {
    display: flex;
    align-items: center;
    width: 100%;
    transition: height 0.2s ease;
  }
  
  .login-box .form {
    width: 100%;
    /* padding: 30px; */
    background-color: transparent;
    transition: margin-left 0.18s ease;
  }
  
  .login-box .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
  }
  
  .form .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background-color: #4070f4;
    border-radius: 25px;
  }
  
  .form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
  }
  
  .input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border: 2px solid #ccc;
    /* border-top: 2px solid transparent; */
    transition: all 0.2s ease;
  }

  
  
  .input-field input:is(:focus, :valid) {
    border-color: #4070f4;
  }
  
  .input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
  }
  
  .input-field input:is(:focus, :valid) ~ i {
    color: #4070f4;
  }
  
  .input-field i.icon {
    left: 1%;
  }
  .input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
  }
  
  .form .checkbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
  }
  
  .checkbox-content input {
    margin-right: 10px;
    accent-color: #4070f4;
  }
  
  .form .text {
    color: #333;
    font-size: 14px;
  }
  
  .form a.text {
    color: #4070f4;
    text-decoration: none;
  }
  .form a:hover {
    text-decoration: underline;
  }
  
  .form .button {
    margin-top: 35px;
    border-color: #4070f4 ;
  }
  
  .form .button input {
    border: 2px solid #4070f4; 
    color: #4070f4 ;
    font-size: 17px;
    width: auto !important;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #fff ;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button input:hover {
    background-color: #265df2 ;
    color: #fff ;
   
  }
  
  .form .login-signup {
    margin-top: 30px;
    text-align: center;
  }
  