@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
:root {
  --primary: #899999;
  --secondary: #0652dd;
  --font-color: #333;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: Lato, sans-serif;
  /* line-height: 1.8; */
  background-color: #ecf0f1;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.offset-12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }
  .col-sm-2 {
    width: 16.6666666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
  .col-sm-5 {
    width: 41.6666666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333333%;
  }
  .col-sm-8 {
    width: 66.6666666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3333333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
  }
  .col-md-2 {
    width: 16.6666666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3333333333%;
  }
  .col-md-5 {
    width: 41.6666666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333333%;
  }
  .col-md-8 {
    width: 66.6666666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3333333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }
  .col-lg-2 {
    width: 16.6666666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3333333333%;
  }
  .col-lg-5 {
    width: 41.6666666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333333%;
  }
  .col-lg-8 {
    width: 66.6666666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3333333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0%;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .offset-xxl-12 {
    margin-left: 100%;
  }
}
.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-end {
  align-items: flex-end;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*Template CSS*/
.d-flex {
  display: flex;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.header-area {
  padding: 10px 0;
  background-color: #fff;
}

.brand .logo {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  display: block;
  color: var(--secondary);
  padding: 9px 0;
}

.brand .logo img {
  height: 45px;
}

.login-btn:hover {
  background-color: #fff !important;
}

.plus {
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  pointer-events: none;
  margin-left: 5px;
}
.plus::after,
.plus::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #333;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
.plus::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.main-menu nav ul .menu-item {
  display: inline-block;
  position: relative;
}
.main-menu nav ul .menu-item .submenu {
  position: absolute;
  box-shadow: var(--box-shadow);
  width: 208px;
  padding: 0;
  background-color: #fff;
  text-align: left;
  left: 0;
  top: 110%;
  opacity: 0;
  visibility: hidden;
  border-top: 5px solid var(--secondary);
  transition: all 0.3s ease;
}
.main-menu nav ul .menu-item .submenu .menu-item {
  display: block;
}
.main-menu nav ul .menu-item a {
  display: block;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
.main-menu nav ul .menu-item:hover > a {
  color: var(--secondary);
}
.main-menu nav ul .menu-has-child-item:hover .plus:before,
.main-menu nav ul .menu-has-child-item:hover .plus:after {
  background-color: var(--secondary);
}
.main-menu nav ul .menu-has-child-item:hover .plus:before {
  transform: translate(-50%, -50%) rotate(0deg);
}
.main-menu nav ul .menu-has-child-item.active {
  max-height: scroll-height;
}

@media (min-width: 992px) {
  .main-menu .menu-has-child-item:hover .submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}
.open-nav-menu {
  width: 53px;
  height: 53px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--secondary);
  padding: 15px;
}
.open-nav-menu span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  position: relative;
}
.open-nav-menu span::before,
.open-nav-menu span::after {
  position: absolute;
  content: "";
  right: 0;
  width: 65%;
  height: 100%;
  top: -8px;
  background: #fff;
  transition: all 0.3s ease;
}
.open-nav-menu span::before {
  top: 8px;
  left: 0;
}
.open-nav-menu:hover span:after,
.open-nav-menu:hover span:before {
  width: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 111;
  visibility: hidden;
  transition: all 0.3s ease;
}

/* Responsive CSS */
@media (max-width: 992px) {
  .overlay {
    opacity: 0;
  }
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .main-menu nav {
    position: fixed;
    width: 280px;
    background-color: #fff;
    height: 100%;
    right: -280px;
    visibility: hidden;
    top: 0;
    overflow: auto;
    padding: 80px 15px;
    z-index: 999;
    transition: all 0.3s ease;
  }
  .main-menu nav.open {
    visibility: visible;
    right: 0;
  }
  .main-menu nav ul .menu-item {
    display: block;
  }
  .main-menu nav ul .menu-item a {
    padding: 10px;
  }
  .main-menu nav ul .menu-item:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  .main-menu nav ul .menu-has-child-item a {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-menu nav ul .menu-has-child-item .submenu {
    width: 100%;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .main-menu nav ul .menu-has-child-item .submenu .menu-item {
    border-bottom: none;
  }
  .main-menu nav ul .menu-has-child-item .submenu .menu-item a {
    padding-left: 20px;
  }
  .main-menu nav ul .menu-has-child-item:hover .plus:before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  .main-menu nav ul .menu-has-child-item.active .plus:before {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  .main-menu nav .close-nav-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }
  .main-menu nav .close-nav-btn::after,
  .main-menu nav .close-nav-btn::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: background-color 0.3s ease;
  }
  .main-menu nav .close-nav-btn::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .main-menu nav .close-nav-btn:hover:after,
  .main-menu nav .close-nav-btn:hover:before {
    background-color: var(--secondary);
  }
  .open-nav-menu {
    display: flex;
  }
  .notice {
    font-size: 16px;
  }
  .notice h4 {
    color: var(--secondary);
  }
}
