{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
<title>Maaş | SalaryCalc</title>
{% endblock page_title %}


{% block css %}
<link rel="stylesheet" href="{% static "css/index.css" %}" />
{% endblock css %}


{% block header_page_title %}
<h1>Maaş Hesablama</h1>
{% endblock header_page_title %}


{% block main %}
<main>
    <!-- ===== Form ===== -->
    <div class="container-fluid mt-4">
      <form action="">
        <div class="border border-3 rounded bg-secondary-subtle py-3">
          <div class="row">
            <div class="col-md-6 offset-md-3 mb-3 text-center">
              <p>
                İşçinin aylıq iş normasını tam işlədiyi halda əmək haqqının
                hesablanması.
              </p>
              <hr />
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
              <label class="form-label fw-semibold">Qrup</label>
              <div class="d-sm-flex gap-3 div-group">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="group-a"
                    name="group_name"
                    value="a"
                    checked
                  />
                  <label class="form-check-label" for="group-a">A</label>
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="group-b"
                    name="group_name"
                    value="b"
                  />
                  <label class="form-check-label" for="group-b">B</label>
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="group-c"
                    name="group_name"
                    value="c"
                  />
                  <label class="form-check-label" for="group-c">C</label>
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="group-d"
                    name="group_name"
                    value="d"
                  />
                  <label class="form-check-label" for="group-d">D</label>
                </div>
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="group-g"
                    name="group_name"
                    value="g"
                  />
                  <label class="form-check-label" for="group-g"
                    >Gündəlik</label
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
              <label for="year-month" class="form-label fw-semibold"
                >Tarix</label
              >
              <input
                type="month"
                min="2023-01"
                max="2024-12"
                class="form-control"
                id="year-month"
                name="year_month"
              />
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
              <label for="extra-hour" class="form-label fw-semibold"
                >İstirahət Günü Əlavə Saatı</label
              >
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  id="extra-hour"
                  name="extra_hour"
                  min="0"
                />
                <span class="input-group-text">saat</span>
              </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
              <label for="bonus" class="form-label fw-semibold"
                >Mükafat Faizi</label
              >
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  id="bonus"
                  name="bonus"
                  min="0"
                  max="500"
                />
                <span class="input-group-text">%</span>
              </div>
            </div>
            <div class="col-md-6 offset-md-3 mb-3">
              <label for="monthly-salary" class="form-label fw-semibold"
                >Vəzifə Maaşı</label
              >
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  id="monthly-salary"
                  name="monthly_salary"
                  step="0.01"
                  min="0"
                />
                <span class="input-group-text">₼</span>
              </div>
            </div>
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary px-5 py-2">
                HESABLA
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- ===== END Form ===== -->

    <!-- ===== Table ===== -->
    <div class="container-fluid my-4">
      <div class="p-2 rounded bg-secondary-subtle">
        <div class="table-responsive salary-table">
          <table
            class="table table-bordered table-striped table-hover text-center"
          >
            <thead>
              <tr>
                <th scope="col">№</th>
                <th scope="col">İL</th>
                <th scope="col">AY</th>
                <th scope="col">Qrup</th>
                <th scope="col">Vəzifə Maaşı</th>
                <th scope="col">İstirahət Günü Əlavə Saatı</th>
                <th scope="col">Mükafat Faizi</th>
                <th scope="col">Saatlıq Əməkhaqqı</th>
                <th scope="col">Gecə Növbəsi Ödənişi</th>
                <th scope="col">
                  Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)
                </th>
                <th scope="col">Bayram Saatı Ödənişi</th>
                <th scope="col">
                  İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)
                </th>
                <th scope="col">Mükafat məbləği</th>
                <th scope="col">GROSS Maaş</th>
                <th scope="col">NETT Gəlir</th>
                <th scope="col">Gəlir Vergisi</th>
                <th scope="col">DSMF Ayırmaları</th>
                <th scope="col">İşsizlikdən Sığorta</th>
                <th scope="col">İcbari Tibbi Sığorta</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-label="№" class="tooltip-td">
                  1
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  2
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  3
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  4
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  5
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  6
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  7
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  8
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  9
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
              <tr>
                <td data-label="№" class="tooltip-td">
                  10
                  <span class="tooltiptext"
                    ><span>Hesablanma Tarixi:</span
                    ><span>03/02/2023 19:08:05</span></span
                  >
                </td>
                <td data-label="İL">2023</td>
                <td data-label="AY">Fevral</td>
                <td data-label="Qrup">B</td>
                <td data-label="Vəzifə Maaşı">889.00 ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı">16 saat</td>
                <td data-label="Mükafat Faizi">20%</td>
                <td data-label="Saatlıq Əməkhaqqı">5.29 ₼</td>
                <td data-label="Gecə Növbəsi Ödənişi">53.98 ₼</td>
                <td
                  data-label="Növbədən Artıq Qalan Əlavə Saat Ödənişi (ikiqat)"
                >
                  264.58 ₼
                </td>
                <td data-label="Bayram Saatı Ödənişi">- ₼</td>
                <td data-label="İstirahət Günü Əlavə Saatı Ödənişi (ikiqat)">
                  - ₼
                </td>
                <td data-label="Mükafat Məbləği">- ₼</td>
                <td data-label="GROSS Maaş">1207.56 ₼</td>
                <td data-label="NETT Gəlir" class="nett">1070.61 ₼</td>
                <td data-label="Gəlir Vergisi" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="DSMF Ayırmaları" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İşsizlikdən Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
                <td data-label="İcbari Tibbi Sığorta" class="deductions">
                  -1070.61 ₼
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ===== END Table ===== -->
</main>
{% endblock main %}